[submodule "vim/pack/boertel/start/editorconfig-vim"]
	path = vim/pack/boertel/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/boertel/start/ctrlp.vim"]
	path = vim/pack/boertel/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/boertel/start/vim-gitgutter"]
	path = vim/pack/boertel/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/boertel/start/emmet-vim"]
	path = vim/pack/boertel/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/pack/boertel/start/vim-less"]
	path = vim/pack/boertel/start/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/pack/boertel/start/vim-css-color"]
	path = vim/pack/boertel/start/vim-css-color
	url = git@github.com:ap/vim-css-color
[submodule "vim/pack/boertel/start/vim-fugitive"]
	path = vim/pack/boertel/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/boertel/start/vim-jsx"]
	path = vim/pack/boertel/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/pack/boertel/start/ale"]
	path = vim/pack/boertel/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/boertel/start/vim-airline"]
	path = vim/pack/boertel/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/boertel/start/vim-airline-themes"]
	path = vim/pack/boertel/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/boertel/start/vim-abolish"]
	path = vim/pack/boertel/start/vim-abolish
	url = git@github.com:tpope/vim-abolish
[submodule "vim/pack/boertel/start/ack.vim"]
	path = vim/pack/boertel/start/ack.vim
	url = git@github.com:mileszs/ack.vim
[submodule "vim/pack/boertel/start/vim-es6"]
	path = vim/pack/boertel/start/vim-es6
	url = git@github.com:isRuslan/vim-es6
[submodule "vim/pack/boertel/start/vim-styled-components"]
	path = vim/pack/boertel/start/vim-styled-components
	url = git@github.com:fleischie/vim-styled-components
[submodule "vim/pack/boertel/start/python-mode"]
	path = vim/pack/boertel/start/python-mode
	url = git@github.com:klen/python-mode
[submodule "vim/pack/boertel/start/neoformat"]
	path = vim/pack/boertel/start/neoformat
	url = git@github.com:sbdchd/neoformat
[submodule "vim/pack/boertel/start/vim-json"]
	path = vim/pack/boertel/start/vim-json
	url = git@github.com:elzr/vim-json
[submodule "vim/pack/boertel/start/vim-stylus.git"]
	path = vim/pack/boertel/start/vim-stylus.git
	url = git@github.com:wavded/vim-stylus.git
[submodule "vim/pack/boertel/start/vim-prettier"]
	path = vim/pack/boertel/start/vim-prettier
	url = git@github.com:prettier/vim-prettier
[submodule "vim/pack/boertel/start/vim-commentary.git"]
	path = vim/pack/boertel/start/vim-commentary.git
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/pack/boertel/start/vim-snippets"]
	path = vim/pack/boertel/start/vim-snippets
	url = git@github.com:honza/vim-snippets
[submodule "vim/pack/boertel/start/ultisnips"]
	path = vim/pack/boertel/start/ultisnips
	url = git@github.com:sirver/ultisnips
[submodule "vim/pack/boertel/start/black"]
	path = vim/pack/boertel/start/black
	url = git@github.com:ambv/black
[submodule "vim/pack/boertel/start/vim-mkdir"]
	path = vim/pack/boertel/start/vim-mkdir
	url = git@github.com:pbrisbin/vim-mkdir
[submodule "vim/pack/boertel/start/nerdtree"]
	path = vim/pack/boertel/start/nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule "vim/pack/boertel/start/typescript-vim"]
	path = vim/pack/boertel/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim
