[submodule "vim/pack/boertel/start/editorconfig-vim"]
	path = vim/pack/boertel/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/boertel/start/ctrlp.vim"]
	path = vim/pack/boertel/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/boertel/start/vim-gitgutter"]
	path = vim/pack/boertel/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/boertel/start/emmet-vim"]
	path = vim/pack/boertel/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/pack/boertel/start/vim-less"]
	path = vim/pack/boertel/start/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/pack/boertel/start/vim-css-color"]
	path = vim/pack/boertel/start/vim-css-color
	url = git@github.com:ap/vim-css-color
[submodule "vim/pack/boertel/start/vim-fugitive"]
	path = vim/pack/boertel/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/boertel/start/vim-airline"]
	path = vim/pack/boertel/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/boertel/start/vim-airline-themes"]
	path = vim/pack/boertel/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/boertel/start/vim-abolish"]
	path = vim/pack/boertel/start/vim-abolish
	url = git@github.com:tpope/vim-abolish
[submodule "vim/pack/boertel/start/ack.vim"]
	path = vim/pack/boertel/start/ack.vim
	url = git@github.com:mileszs/ack.vim
[submodule "vim/pack/boertel/start/vim-es6"]
	path = vim/pack/boertel/start/vim-es6
	url = git@github.com:isRuslan/vim-es6
[submodule "vim/pack/boertel/start/vim-styled-components"]
	path = vim/pack/boertel/start/vim-styled-components
	url = git@github.com:fleischie/vim-styled-components
[submodule "vim/pack/boertel/start/neoformat"]
	path = vim/pack/boertel/start/neoformat
	url = git@github.com:sbdchd/neoformat
[submodule "vim/pack/boertel/start/vim-json"]
	path = vim/pack/boertel/start/vim-json
	url = git@github.com:elzr/vim-json
[submodule "vim/pack/boertel/start/vim-stylus.git"]
	path = vim/pack/boertel/start/vim-stylus.git
	url = git@github.com:wavded/vim-stylus.git
[submodule "vim/pack/boertel/start/vim-commentary.git"]
	path = vim/pack/boertel/start/vim-commentary.git
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/pack/boertel/start/vim-mkdir"]
	path = vim/pack/boertel/start/vim-mkdir
	url = git@github.com:pbrisbin/vim-mkdir
[submodule "vim/pack/boertel/start/nerdtree"]
	path = vim/pack/boertel/start/nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule "vim/pack/boertel/start/vim-conflicted"]
	path = vim/pack/boertel/start/vim-conflicted
	url = git@github.com:christoomey/vim-conflicted
[submodule "vim/pack/boertel/start/vim-peekaboo"]
	path = vim/pack/boertel/start/vim-peekaboo
	url = git@github.com:junegunn/vim-peekaboo
[submodule "vim/pack/boertel/start/scratch.vim"]
	path = vim/pack/boertel/start/scratch.vim
	url = git@github.com:mtth/scratch.vim
[submodule "vim/pack/boertel/start/goyo.vim"]
	path = vim/pack/boertel/start/goyo.vim
	url = git@github.com:junegunn/goyo.vim
[submodule "vim/pack/boertel/start/rainbow_parentheses.vim"]
	path = vim/pack/boertel/start/rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim
[submodule "vim/pack/boertel/start/vim-surround"]
	path = vim/pack/boertel/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "vim/pack/boertel/start/vim-abolish.git"]
	path = vim/pack/boertel/start/vim-abolish.git
	url = git@github.com:tpope/vim-abolish.git
[submodule "vim/pack/boertel/start/grep"]
	path = vim/pack/boertel/start/grep
	url = git@github.com:yegappan/grep
[submodule "vim/pack/boertel/start/vim-test"]
	path = vim/pack/boertel/start/vim-test
	url = git@github.com:vim-test/vim-test
[submodule "vim/pack/boertel/start/vim-terraform"]
	path = vim/pack/boertel/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform
[submodule "vim/pack/boertel/start/vim-javascript"]
	path = vim/pack/boertel/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript
[submodule "vim/pack/boertel/start/vim-jsx-pretty"]
	path = vim/pack/boertel/start/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty
[submodule "vim/pack/boertel/start/vim-prisma"]
	path = vim/pack/boertel/start/vim-prisma
	url = git@github.com:pantharshit00/vim-prisma
[submodule "vim/pack/boertel/start/python-syntax"]
	path = vim/pack/boertel/start/python-syntax
	url = git@github.com:vim-python/python-syntax.git
[submodule "vim/pack/boertel/start/vim-visual-multi"]
	path = vim/pack/boertel/start/vim-visual-multi
	url = git@github.com:mg979/vim-visual-multi.git
