[submodule "vim/pack/boertel/start/editorconfig-vim"]
	path = vim/pack/boertel/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/pack/boertel/start/ctrlp.vim"]
	path = vim/pack/boertel/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/boertel/start/vim-gitgutter"]
	path = vim/pack/boertel/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/boertel/start/emmet-vim"]
	path = vim/pack/boertel/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/pack/boertel/start/vim-less"]
	path = vim/pack/boertel/start/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/pack/boertel/start/vim-css-color"]
	path = vim/pack/boertel/start/vim-css-color
	url = https://github.com/skammer/vim-css-color
[submodule "vim/pack/boertel/start/vim-fugitive"]
	path = vim/pack/boertel/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/boertel/start/vim-jsx"]
	path = vim/pack/boertel/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/pack/boertel/start/ale"]
	path = vim/pack/boertel/start/ale
	url = https://github.com/w0rp/ale
[submodule "vim/pack/boertel/start/vim-airline"]
	path = vim/pack/boertel/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
